
CPP/.vs/PasswordManager/FileContentIndex/read.lock
CPP/.vs/PasswordManager/FileContentIndex/245e710f-00a3-4a91-bf67-5ee5bf861036.vsidx
CPP/.vs/PasswordManager/v17/.suo
CPP/.vs/PasswordManager/v17/Browse.VC.db
CPP/.vs/PasswordManager/v17/fileList.bin
CPP/.vs/PasswordManager/v17/ipch/AutoPCH/1e027d65a7dc41f7/CMAIN.ipch
CPP/.vs/PasswordManager/v17/ipch/AutoPCH/f888a4e14a79d69b/CAPP.ipch
